accelerate==1.1.1
deepspeed==0.14.4
einops==0.8.0
transformers==4.45.2
huggingface-hub
diffusers==0.30.1
sentencepiece==0.2.0
gradio==5.22.0
openlm-hub
wandb
ruff
peft==0.13.2
pyarrow
zstandard
torch==2.4.0
torchvision==0.19.0
sympy
hpsv3
tensorboard
clip
megfile
pendulum
loguru